<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyToKeycloak" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^you_domain\.com$" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:8080/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <proxy>
            <reverseProxy enabled="true">
                <rewrite>
                    <allowedServerVariables>
                        <add name="HTTP_HOST" />
                        <add name="HTTP_X_REAL_IP" />
                        <add name="HTTP_X_FORWARDED_FOR" />
                        <add name="HTTP_X_FORWARDED_PROTO" />
                    </allowedServerVariables>
                    <rules>
                        <rule name="SetRequestHeaders">
                            <match url="(.*)" />
                            <action type="Rewrite" url="http://localhost:8080/{R:1}" />
                        </rule>
                    </rules>
                </rewrite>
                <outboundRules>
                    <rule name="SetResponseHeaders" preCondition="ResponseIsHtml1">
                        <match serverVariable="RESPONSE_LOCATION" pattern="^http://localhost:8080(.*)" />
                        <action type="Rewrite" value="https://your_domain.com{R:1}" />
                    </rule>
                    <preConditions>
                        <preCondition name="ResponseIsHtml1">
                            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                        </preCondition>
                    </preConditions>
                </outboundRules>
            </reverseProxy>
        </proxy>
    </system.webServer>
</configuration>
